{% extends "base.html" %}

{% block title %}
Subject Topper
{% endblock %}

{% block content %}

<div class="container">

    <h1>🏆 Subject-Wise Topper</h1>

    <form method="POST" class="search-box">

        <label>Choose Subject</label>

        <select name="subject" required>
            <option value="python">Python</option>
            <option value="java">Java</option>
            <option value="mysql">MySQL</option>
        </select>

        <br>

        <button type="submit">
            🏆 Find Topper
        </button>

    </form>

    <br>

    {% if topper %}

    <div class="table-responsive">
    <table>

        <thead>
            <tr>
                <th>Name</th>
                <th>Roll Number</th>
                <th>{{ subject | capitalize }} Marks</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ topper["name"] }}</td>
                <td>{{ topper["roll_number"] }}</td>
                <td>{{ topper[subject] }}</td>
            </tr>
        </tbody>

    </table>
    </div>

    {% elif subject %}

    <h2>No data available for that subject.</h2>

    {% endif %}

</div>

{% endblock %}
